* {
  /* margin: 0; */
}
p, .pre_code {
  font-size: 18px;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}
.wrap {
  max-width: 90%;
  margin: 0 auto;
}
.right_header{
  text-align: right;
  text-decoration: underline;
}
.center_header {
  text-align: center;
}
.pre_code, .language-js {
  background-color: darkgrey;
  color: greenyellow;
}
.pre_code {
  max-width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}
.quote_ecma_p {
  margin-bottom: 5px;
}
.quote_ecma {
  max-width: 90%;
  margin: 0 auto;
}
.img_ecma {
  max-width: 85%;
  border: 1px solid;
  border-radius: 10px;
}
.catalog {
	padding-top: 64px;
}
.catalog_carts {
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	justify-content: space-between;
}

.product_card {
  max-width: 960px;
  margin: 40px auto;
  min-height: 80px;
  background: #B3C0CC;
  box-sizing: border-box;
  border: 1px solid #B3C0CC;
  box-shadow: 5px 20px 50px rgba(170, 187, 204, 0.6);
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

/* .product_card_item {
  position: relative;
  flex-grow: 1;
} */

.product_card_img {
  position: relative;
  /* flex-grow: 1; */
  padding: 10px;
}

.product_img {
  display:block;
	margin:auto;
}
.product_card_info {
  position: relative;
  flex-grow: 2;
  padding: 14px;
}

.product_card_header {
  font-size: 26px;
}

.container_basket {
  padding: 18px;
  background: #E2EBF3;
  border-radius: 10px;
}

.basket_item_text {
  margin: 20px 0;
  font-size: 20px;
}

.block_cart {
	width: 450px;
	padding: 44px 32px;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.card_img {
	align-self: center;
	margin-bottom: 51px;
}

.solution {
  margin-top: 40px;
}

.chess_container {
  max-width: 500px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  text-align: center;
}

tr {
  width: 40px;
  height: 40px;
}

td {
  border: 1px solid #dbdbdd;
  width: 40px;
  height: 40px;
  background-color: #dbdbdd;
  font-size: 30px;
}
/*
fbfab2
black col
808ba0

white col
dbdbdd
*/
.border_field {
  background-color: #808ba0;
  border-color: #808ba0;
  color: #dbdbdd;
}
.border_field_top {
  border-bottom-color: #dbdbdd;
}
.border_field_bottom {
  border-top-color: #dbdbdd;
}
.border_field_left {
  border-right-color: #dbdbdd;
}
.border_field_right {
  border-left-color: #dbdbdd;
}

.ishop_btn {
	background: #778899;
	box-sizing: border-box;
	box-shadow: 5px 20px 50px rgba(97, 119, 111, 0.6);
	border-radius: 10px;
  text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 23px 0;
	width: 80%;
  margin: 40px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
